{{> header}}
<div class="container">
  <h1>city "{{city}}" not found</h1>
  <p style="font-size:large,font-type:medium,color:red">please try again with a different city</p>

  <form action="/getweather"> 
    <input type="text" name="city" placeholder="Enter city name"/>
    Would you like to receive the email?<input type="checkbox" name="cl" /><br>
    <input type="email" name="email" placeholder="Enter email"/><br>
    <button type="submit">submit</button>
  </form>
  

</div>
{{> footer year=year}}
