{{> header}}
<div class="container">
  <h1>city "{{city}}" not found</h1>
  <p style="font-size:large,font-type:medium,color:red">please try again with a different city</p>

  <form action="/getweather"> 
    <input type="text" name="city" placeholder="Enter name"/>
    <button type="submit">submit</button>
  </form>
  

</div>
{{> footer year=year}}